<div class="container mt-5 #mainContent">
    <div class="text-center">
        <div class="mb-2">
            <span class="fs-1 fw-bold">Acceso</span>
        </div>
        <div class="subtitulo">
            <span class="fs-5">¡Bienvenido! Por favor, ingresa tus datos.</span>
        </div>
    </div>
    <form [formGroup]="loginForm">
        <div class="mb-3 mt-3">
            <div class="mb-2">
                <label for="exampleFormControlInput1" class="form-label">Usuario</label>
                <input #inputMail formControlName="username" type="usuario" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="input-group">
                <input #inputNombre formControlName="pass" [type]="getPasswordFieldType()" class="form-control" id="inputControl3"
                    aria-describedby="passwordHelpBlock">
                <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility()">
                    <i class="bi" [ngClass]="{'bi-eye': mostrarContrasena, 'bi-eye-slash': !mostrarContrasena}"></i>
                </button>
            </div>
        </div>
    </form>
    <div class="mb-3 mt-4">
        <button *ngIf="!isLogging" type="button" (click)="onLoginSubmit()" type="submit" class="btn btn-secondary w-100">
            <span class="btn-text">Iniciar sesión</span>
        </button>
    </div>
    <div class="mb-3 mt-4 text-center">
      <span class="color-grey">¿No tienes una cuenta? </span>
      <a type="button" (click)="register()">
          <span class="fs-6 fw-semibold">
          Regístrate
          </span>
      </a>
    </div>

</div>
