<footer class="footer">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" >Taks-web</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/" ariaCurrentWhenActive="page">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contacto</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">© 2024 Alan Mengassini</a>
    </li>
  </ul>
</footer>
